body.theme-dark,
.theme-dark #content-wrapper {
	background-color: #121212 !important;
}

/* SIDEBAR */
.theme-dark .sidebar,
.theme-dark .bg-gradient-primary {
	background-image: none !important;
	background-color: #1f1f1f !important;
}

/* TOPBAR & FOOTER */
.theme-dark .topbar,
.theme-dark .sticky-footer {
	background-color: #1f1f1f !important;
	color: #ccc;
}

/* CARD */
.theme-dark .card {
	background-color: #1e1e1e;
	color: #eaeaea;
	border-left: 4px solid #444;
}

.theme-dark .card-header {
	background-color: #222;
}

/* TABLE */
.theme-dark .table {
	color: #eaeaea;
}

.theme-dark .table thead th {
	background-color: #222;
	color: #fff;
}

/* FORM */
.theme-dark .form-control {
	background-color: #2a2a2a;
	color: #fff;
	border-color: #444;
}

/* BUTTON */
.theme-dark .btn-primary {
	background-color: #4e73df;
	border-color: #4e73df;
}
